body{
  font-family: Arial;
  background:#f4f4f4;
}

.container{
  width:400px;
  margin:auto;
  background:white;
  padding:20px;
  margin-top:40px;
  border-radius:10px;
}

input{
  padding:8px;
  margin:5px;
}

button{
  padding:8px 12px;
  background:#4CAF50;
  color:white;
  border:none;
  cursor:pointer;
}

li{
  display:flex;
  justify-content:space-between;
  margin:8px 0;
}